
@{
    Layout = null;

}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="One Step Viral is a social media publisher network. We work with social media publishers to provide them high quality content that their audience love. Our content is written to ensure high audience reach and engagement for the best user experience possible.">
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/images/ico/favicon.png">

    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">

    @Styles.Render("~/Content/MainlyCSS")

    @Styles.Render("~/Content/SweetAlert")

    @Styles.Render("~/Content/DatePicker")

    @Styles.Render("~/Content/Select2")

    @Styles.Render("~/Content/FileUpload")

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <style>
        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.7);
            z-index: 9999;
            display: none;
        }

        @@-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 40px;
            height: 40px;
            border-style: solid;
            border-color: #1565c0;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }
    </style>
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-menu" data-col="2-columns">
    <!-- fixed-top-->

    @{
        Html.RenderPartial("_HeaderNavBar");
    }





    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body">
                @RenderBody()
            </div>

        </div>

    </div>
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2006-2019 <a class="text-bold-800 grey darken-2" href="http://shahwilayatcooperative.com"
                                              target="_blank">Shah Wilayat Cooperative Housing Society</a>, All rights reserved.
            </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">
                Designed & developed by
                <a class="text-bold-800 grey darken-2" href="http://femtogen.com"
                   target="_blank">Femtogen Technologies</a>
            </span>
        </p>
    </footer>
    <div id="cover-spin"></div>

    @Scripts.Render("~/bundles/MainlyScripts")

    @Scripts.Render("~/bundles/SweetAlert")


    @Scripts.Render("~/bundles/DatePicker")

    @Scripts.Render("~/bundles/Select2")

    @Scripts.Render("~/bundles/FileUpload")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/assets/js/PagesJS/Constant.js"></script>
    <script src="~/Scripts/assets/js/PagesJS/Nav.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".mySelect").select2();
        });
    </script>



    @RenderSection("scripts", required: false)

</body>
</html>
